html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --font-main: 'Merriweather Sans', sans-serif;
}

body {
  font-family: var(--font-main);
}

/**** HEADER *****/

.intro {
  letter-spacing: 1.2px;
  border-bottom: 1px solid black;
  text-align: center;
}

.intro__heading {
  padding: 10px;
  text-decoration: none;
}

.intro__heading a {
  text-decoration: none;
  color: black;
}

.menu {
  font-size: 24px;
}

.menu__item {
  list-style-type: none;
}

.menu__item a {
  text-decoration: none;
  display: inline-block;
  padding: 5px;
}

.menu__item a:hover,
.menu__item a:focus,
.menu__item a:active {
  background-color: brown;
  color: aliceblue;
}

/**** MAIN *****/

.title {
  color: brown;
  text-shadow: 2px 2px 5px wheat;
  margin-bottom: 35px;
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 28px;
  text-transform: uppercase;
  padding-top: 40px;
  margin-bottom: 20px;
  color: wheat;
}

.words {
  max-width: 900px;
  display: block;
  margin: 0 auto;
}

.background {
  padding: 20px;
  margin: 0 auto;
  max-width: 900px;
  background: linear-gradient(rgba(90, 88, 88, 0.623), rgb(175, 172, 172)),
    url(img/pece.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.headin--main {
  margin: 40px 20px 20px;
}
.center__button {
  text-align: center;
}
.headin--main__button {
  margin: 40px 20px 20px;
  padding: 15px;
  align-items: center;
  font-family: 'Karla', sans-serif;
  font-weight: bold;
  font-size: medium;
  border-radius: 3%;
  border-style: none;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
}

.headin--main__button:hover {
  background-color: blanchedalmond;
}
.paragraph--main {
  letter-spacing: 1.1px;
  line-height: 2em;
  padding-left: 40px;
  color: rgb(255, 250, 205);
  padding: 25px;
  font-family: 'Karla', sans-serif;
}

.paragraph--main ul {
  width: 70%;
  margin: auto;
}

/**** FOOTER *****/
footer p {
  text-align: center;
  padding: 20px;
  background-color: brown;
  color: wheat;
}

footer a {
  text-decoration: none;
  color: blanchedalmond;
}

footer a:hover {
  background-color: blanchedalmond;
  color: brown;
  text-decoration: none;
}

/* *** BÁRA *** */
.profil {
  max-width: 15vw;
  float: left;
  padding: 15px;
}
.logo {
  max-width: 25px;
  color: brown;
}
.bara-container p {
  padding: 20px;
  font-family: 'Karla', sans-serif;
  letter-spacing: 2px;
  line-height: 1.5;
  text-indent: 5%;
  text-align: left;
}

.bara-heading--main {
  color: black;
  font-size: 28px;
  margin-top: 10px;
  margin-left: 75px;
  font-family: 'Karla', sans-serif;
}

.bara-container h2 {
  text-align: center;
  padding: 10px 5px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 24px;
  font-family: 'Karla', sans-serif;
}
.bara-heading--main::first-letter {
  color: orangered;
}
.bara-heading--main::after {
  content: '';
  display: block;
  width: 130px;
  padding: 2px;
  background: linear-gradient(to right, orangered, rgb(255, 174, 0), gold);
  margin: 10px 0 10px -20px;
}

.bara-heading--small {
  font-size: 24px;
  text-align: center;
  font-style: italic;
  margin: 10px 0;
  font-family: 'Karla', sans-serif;
}

#bara-proc a {
  color: black;
  font-weight: 700;
  text-decoration: none;
  font-size: 18px;
}
#bara-proc a:hover {
  background-color: brown;
  color: beige;
}
/* *** IVČA *** */
.ivku-container p {
  text-align: left;
}
.ivku-heading--main {
  color: darkgrey;
}
.ivku-heading--small {
  font-size: 18px;
  text-align: left;
  margin: 20px;
}
/* *** KRISTÝNA *** */
.bold {
  font-weight: 700;
  font-size: 18px;
}
.kris-container {
  padding: 20px;
  font-family: 'Karla', sans-serif;
  letter-spacing: 2px;
  line-height: 1.5;
}

.kris-container p {
  text-indent: 5%;
  text-align: justify;
}

.kris-container section {
  margin-bottom: 15px;
}

.kris-container h2 {
  text-align: center;
  padding: 10px 5px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 24px;
}

.kris-heading--main {
  font-size: 28px;
  margin-top: 10px;
}

.kris-heading--main::first-letter {
  color: orangered;
}

.kris-heading--main::after {
  content: '';
  display: block;
  width: 130px;
  padding: 2px;
  background: linear-gradient(to right, orangered, rgb(255, 174, 0), gold);
  margin: 10px 0 10px -20px;
}

.kris-heading--small {
  font-size: 22px;
  text-align: center;
  margin: 10px 0;
  font-style: italic;
}

.mimi {
  width: 200px;
  display: block;
  margin: 10px auto;
}

#ego a {
  color: black;
  font-weight: 700;
  text-decoration: none;
  font-size: 18px;
}

#ego a:hover {
  background-color: brown;
  color: aliceblue;
}

@media screen and (min-width: 600px) {
  /* *** header *** */

  .menu {
    display: flex;
    justify-content: center;
  }

  .menu__item a {
    padding: 5px 20px;
  }

  /* kristyna */
  .kris-container p {
    text-align: left;
  }
}

@media screen and (min-width: 970px) {
  /**** header ****/
  .intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu__item a {
    padding: 15px 25px;
  }

  /* kristyna */
  .kris-container {
    padding: 20px 80px;
    font-family: 'Karla', sans-serif;
    letter-spacing: 2px;
    line-height: 1.5;
  }

  .kris-flex-container {
    display: flex;
    align-items: center;
  }
}
